$(document).ready(function (){
    function initialize() {
      var myLatLing = new google.maps.LatLng(latitude, longitude);
      var mapOptions = {
      center: myLatLing,
      zoom: 8,
      scrollwheel: false
      };
      var map = new google.maps.Map(document.getElementById('destination-map'),
                mapOptions);
      var marker = new google.maps.Marker({
      position: myLatLing,
      map: map,
      title: myLatLing
      });
      var contentString = '<h2>' + address + '</h2>' + '<p>' + description + '</p>';
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
});